<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Big-Bite</title>

    <link href="//fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="css/style-starter.css">
  </head>
  <body>
<!--header-->
<header id="site-header" class="fixed-top">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">   
        </svg>
        <span class="fa-solid fa-utensils"></span>  
        <img src="images/logo1.svg" alt="Your logo"  style="height:250px;" />
      </a>
          <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/dashboardhome">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item @@about__active">
                      <a class="nav-link" href="/dashboard">About</a>
                  </li>
                  <li class="nav-item @@menu__active">
                      <a class="nav-link" href="/bigbitemenu">Menu</a>
                  </li>
                  <li class="nav-item @@contact__active">
                      <a class="nav-link" href="/dashboardcontact">Contact</a>
                  </li>
                  <ul>
                    <!-- Add the ID to the login/logout links -->
                    
                              
          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
              <nav class="navigation">
                  <div class="theme-switch-wrapper">
                      <label class="theme-switch" for="checkbox">
                          <input type="checkbox" id="checkbox">
                          <div class="mode-container py-1">
                              <i class="gg-sun"></i>
                              <i class="gg-moon"></i>
                          </div>
                      </label>
                  </div>
              </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>
  </div>
</header>
<!--/header-->
<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Cravings??<span> :)We bring you the best dishes from all around the words.</span></h5>
                                    <span style="font-size:50px; color:rgb(242, 236, 236);"><b>"People who love to eat are always the best people.</b>"</span> - <span style="font-size:30px; color:rgb(235, 151, 151);"><b>Julia Child</b></span>
                                    </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/bigbitemenu#content3"> Explore our Menu</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/dashboard"> About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>"Indulge  <span>in the Majesty of Flavor: Biryani Bliss!"</span></h5>
                                    <p class="mt-4">"Savor the regal flavors of biryani, where every bite unfolds a captivating tale of tradition and taste. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/bigbitemenu#content2"> Explore our Menu</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/dashboard"> About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>We Care <span>about your health.</span> </h5>
                                    <p class="mt-4">"Your well-being is our priority, and we take pride in serving you wholesome and delicious food." </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/bigbitemenu#content1"> Explore our Menu</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/dashboard"> About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Nourishing you with love<span>, one delectable dish at a time </span></h5>
                                    <p class="mt-4">Experience the Best Traditional Foods at Big Bite.</p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/bigbitemenu#content1"> Explore our Menu</a>
                                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/dashboard"> About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <!-- <div class="icon-pos">
            <a href="#bottom"><span class="fa fa-arrow-down"></span></a>
        </div> -->
    </div>
</section>
<!-- /main-slider -->
<section class="w3l-index3" id="bottom">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    <h5 class="title-small mb-3">Our Speciality</h5>
                    <h3 class="title-big">Savor Perfection: Where Culinary Artistry Meets Extraordinary Taste!"</h3>
                    <p class="mt-4"><b>"At our restaurant, we take immense pride in creating an extraordinary dining experience for our guests. </b> 
                    <b>  Our team of talented chefs is dedicated to crafting culinary masterpieces that excite the palate and leave a lasting impression. From carefully selected ingredients</b> 
                <b> to meticulous preparation, we pour our heart and soul into every dish,</b> 
            <b>  ensuring that each visit to our establishment is a journey of gastronomic delight."</b> 
                    </p>
                    <a href="#about" class="btn btn-style border-btn mt-lg-5 mt-4">Know More</a>
                </div>
                <div class="col-lg-6 left-wthree-img text-right mt-lg-0 mt-5 ">
                    <img src="images/about.png" alt="" class="radius-image img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //homeblock2-->
<section class="w3l-homeblock3">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="images/bg.png" alt="" class="radius-image img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-3 about-right-faq align-self">
                    <h3 class="title-big">Most Loved Butter Chicken.</h3>
                    <p class="mt-3">"Indulge in the rich flavors of India: Butter Chicken, where tradition meets taste!"</p>
                    <ul class="w3l-lists mt-4">
                        <li><span class="fa fa-check" aria-hidden="true"></span> Marinating the Chicken </li>
                        <li><span class="fa fa-check" aria-hidden="true"></span> Preparing the Sauce Base</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Spicing it upr</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Creating Creaminess</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span> Preparing the Chicken</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span> Combining the Chicken and Sauce</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span> Finishing touches and its done.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="location" class="w3l-homeblock5 py-5">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 about-right-faq align-self">
                <h3 class="title-big">Locate our Stores.</h3>
                <p class="mt-4">"Embark on a global culinary journey with our 50+ outlets spanning across the world. Indulge in an exquisite fusion of flavors, each dish crafted to perfection by our passionate chefs. Join us in savoring the taste of cultures and traditions that unite through our diverse and delightful offerings." </p>
                <h3 class="title-small mt-5">Our Branches.</h3>
                <ul class="w3l-lists mt-4">
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>India (10) </a></li>
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>Canada (17) </a></li>
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>Australia (9) </a></li>
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>America (5) </a></li>
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>London (02) </a></li>
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>Russia (05) </a></li>
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>Mexico (07) </a></li>
                    <li><a href="#url"><span class="fa fa-check" aria-hidden="true"></span>South Africa (06) </a></li>
                </ul>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ">
                <img src="images/map.jpg" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>


<section class="w3l-homeblock7 py-5">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-4 mb-lg-0 mb-md-5 mb-4">
                <h3 class="title-big">Opening Hours and Reservations.</h3>
                <p class="mt-4">At Big Bite, our doors are open from 4:00 AM to 2:00 PM, seven days a week, allowing you to enjoy our scrumptious offerings throughout the day.

                    we highly encourage them for special occasions and large groups to guarantee your preferred seating and make your visit even more memorable..</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-8">
                <img src="images/middle.png" alt="" class="radius-image img-fluid">
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <ul class="w3l-lists mb-md-5 mb-4">
                    <h3 class="title-small"> Opening Hours: </h3>
                    <li>Monday – Sunday // 04:00AM - 02:00PM</li>
                </ul>
                <ul class="w3l-lists">
                    <h3 class="title-small"> For Reservations: </h3>
                    <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
                    <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8899</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w3l-footer-29-main py-5">
  <div class="footer-29 py-lg-4 py-md-3">
      <div class="container">
          <div class="d-grid grid-col-4 footer-top-29">
              <div class="footer-list-29 footer-1">
                  <h6 class="footer-title-29">Contact Us</h6>
                  <ul>
                      <li><p><span class="fa fa-map-marker"></span> 941 Progress Ave, Scarborough, ON M1G 3T8</p></li>
                      <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
                      <li><a href="mailto:coffee@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span> bigbite@mail.com</a></li>
                  </ul>
                  <div class="main-social-footer-29">
                      <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                      <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                      <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                      <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                  </div>
              </div>
              <div class="footer-list-29 footer-2">
                  <ul>
                      <h6 class="footer-title-29">Featured Links</h6>
                      <li><a href="/dashboard#team">Our Team</a></li>
                      <li><a href="https://instagram.com/reshma_antony?igshid=NTc4MTIwNjQ2YQ==">Instagram feed</a></li>
                      <li><a href="/dashboardhome#location">Our Branches</a></li>
                        <li><a href="/dashboardcontact#contact.">Help & Support</a></li>
                  </ul>
              </div>
              <div class="footer-list-29 footer-3">
                 
                  <h6 class="footer-title-29">Newsletter </h6>
                  <p class="mb-3">Get in your inbox the latest News and</p>
          <form action="#" class="subscribe" method="post">
            <input type="email" name="email" placeholder="Email" required="">
            <button><span class="fa fa-envelope-o"></span></button>
          </form>
          <p>Subscribe and get our weekly newsletter</p>
          <p>We'll never share your email address</p>
        
              </div>
              <div class="footer-list-29 footer-4">
                  <ul>
                      <h6 class="footer-title-29">Quick Links</h6>
                      <li><a href="/dashboardhome">Home Page</a></li>
                      <li><a href="/dashboard">About Us</a></li>
                      <li><a href="/bigbitemenu">Our Menu</a></li>
                      <li><a href="/dashboardcontact">Contact Us</a></li>
                  </ul>
              </div>
          </div>
          <div class="d-grid grid-col-2 bottom-copies">
              <p class="copy-footer-29">© Big Bite Traditional Food. All rights reserved </p>
               
                  </ul>
          </div>
      </div>
  </div>

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>

<!-- Template JavaScript -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- script for testimonials -->
<script>
  $(document).ready(function () {
    $('.owl-testimonial').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for testimonials -->

<script src="js/theme-change.js"></script>

<script src="js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="js/bootstrap.min.js"></script>


</body>

</html>