<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    a {
      max-width: 100%;
      max-height: 80vh;
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
    }
  </style>
</head>
<body>
  <img src="/img/group_logo.jpeg" alt="Big Bite">
  <a href="/index" class="btn btn-sm btn-outline-secondary">
    <button type="button" class="btn btn-primary">Welcome</button>
</a>


</body>
</html>
